.mobile_nav {
    top: 60;
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
    padding: 30px 50px;
    background-color: rgb(31, 31, 31);
    display: flex;
    flex-direction: column;
    gap: 10px;


}


.mobile_nav div {
    width: 100%;
    text-align: start;
    animation: slidein 0.5s forwards;
    animation-delay: 2s;
}

.mobile_nav div a {
    all: unset;
    color: red;
    font-size: 3em;
}

@keyframes slidein {
    0% {
        width: 0%;
        left: 0
    }

    50% {
        width: 50%;
    }

    50% {
        width: 100%;
    }
}