#root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
  scroll-behavior: smooth;
}

h4 {
  text-align: start;
}


p {
  font-size: 0.8em;
  color: rgba(255, 255, 255, 0.4);
  text-align: start;
}

button p {
  color: rgba(0, 0, 0, 0.9);
}



a {
  all: unset;
  color: white !important;
}

.telephone_link {
  cursor: pointer;
}

.telephone_link:hover {
  color: rgb(83, 123, 168) !important;
  transition: color 0.5s ease-in-out;
}

.mobile_view {
  display: none;
  visibility: none !important;
}

.desktop_view {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 768px) {
  .mobile_view {
    display: flex;
    flex-direction: column;
  }

  .desktop_view {
    display: none !important;
    visibility: none !important;
  }
}